<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ZooPlus Challenge</title>
    <meta name="description" content=""/>
    <meta name="google" value="notranslate"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="app/styles.css" />
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>

<script src="libs/jquery/jquery.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/moment/moment.min.js"></script>
<script src="app/bundle.js"></script>

</body>
</html>
